div.snippet img.icon {
  margin: -0.75em 1em 0 0;
  width: 48px;
  float: left;
}

.snippet {
  position: relative;
}

.snippet .icon {
  position: absolute;
  right: 400px;
  top: 5px;
}

.snippet p {
  display: table-cell;
  height: 40px;
  padding-left: 80px;
  vertical-align: middle;
  width: 400px;
}
