body {
  transition: background 0.25s;
}

div.snippet img.icon {
  position: absolute;
  top: 5px;
  right: 400px;
  margin: -0.75em 1em 0 0;
  width: 48px;
  float: left;
}

.snippet {
  position: relative;
}

.snippet .snippet-content {
  padding-left: 80px;
  width: 400px;
  height: 180px;
}

.snippet code {
  font-size: 12px;
}

.snippet #snippet-css, .snippet .tt-dropdown-menu {
  width: 200px;
}

.snippet #snippet-css {
  border: none;
  background: transparent;

  /* Twitter typeahead is pushing it down somehow, so we'll push it
   * back up with this. */
  margin-top: -11px;
}

.snippet .tt-dropdown-menu {
  font: message-box;
  background: white;
  max-height: 150px;
  border: 1px solid black;
  overflow-y: auto;
  box-shadow: 2px 2px 2px black;
}

.snippet .tt-dropdown-menu p {
  margin: 0;
}

.snippet .tt-dropdown-menu .tt-suggestion {
  padding: 2px;
}

.snippet .tt-dropdown-menu .tt-cursor {
  color: white;
  background: black;
}

/* http://cssarrowplease.com/ */
.snippet .arrow-box {
  position: absolute;
  top: -40px;
  left: -20px;
  color: white;
  padding: 4px;
  font: message-box;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  display: inline-block;
  transition: opacity 0.5s;
}

.snippet .arrow-box:not(.selected) {
  opacity: 0;
}

.snippet .arrow-box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgba(0, 0, 0, 0.85);
  border-width: 4px;
  margin-left: -4px;
}

#snippet-css-container {
  position: relative;
}

#snippet-end {
  transition: opacity 1s;
}

#snippet-end:not(.selected) {
  opacity: 0;
}

.body-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: dashed;
  border-width: 2px;
  border-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  pointer-events: none;
  transition: border-color 1s, background 0.33s;
}

.body-frame.selected {
  border-color: gray;
}

.body-frame .arrow-box:not(.selected) {
  opacity: 0;
  margin-left: 40px;
}

/* http://cssarrowplease.com/ */
.body-frame .arrow-box {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  width: 200px;
  padding: 20px 20px;
  margin-left: 10px;
  margin-top: 25%;
  border-radius: 4px;
  transition: opacity 1s, margin-left 1s;
}

.body-frame .arrow-box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0.85);
  border-width: 10px;
  margin-top: -10px;
}

.body-frame .arrow-box code {
  font-family: inherit;
  color: #66BDFF;
}
